%div.col-md-8
	%div.btn-group
		%button#male_but{:class=>"btn btn-default active", :type=>"button"}Мужчины
		%button#female_but{:class=>"btn btn-default", :type=>"button"}Женщины
	%div.graph{:id=>"finishTime"}
	%hr
	%div.graph{:id=>"gender"}
	%hr
	%div.graph{:id=>"ageGroup"}
%div.col-md-4
	%ul.list-group
		- @races.each() do |r|
			%li.list-group-item{:id=>"r#{r[0]}", :onclick => "changeActiveRace(#{r[0]});"} #{r[1]}
:javascript
	window.onload = function() {
		removeNavClasses();
		$('#stat').addClass('active');
		$('#r1').addClass('active');
		google.load('visualization', '1.0', {'packages':['corechart'], 
			"callback": function() {
				updateCharts(1);
		}});
	};
	
	function changeActiveRace(race) {
		$('li.list-group-item').removeClass('active');
		$('#r'+race).addClass('active');
		updateCharts(race);
	};
	
	function updateCharts(race_id) {
		var container = document.getElementById("finishTime");
		var genderContainer = document.getElementById("gender");
		var ageGroupContainer = document.getElementById("ageGroup");
		var peopleCountContainer = document.getElementById("peopleCount");
		getGraphData({finishTime: container, gender: genderContainer, ageGroup: ageGroupContainer, peopleCount: peopleCountContainer}, race_id);
	};